.container {
  width: 50%;
  background: #0457cf;
  margin: 0 auto;
  padding: 24px;
  border-radius: 18px;
}

.box1 {
  text-align: center;
}
.box2 {
  text-align: right;
}
.box3 {
  text-align: left;
}
